/NotaryOnline.DocumentStorage/bin/Debug/netcoreapp3.1
/NotaryOnline.DocumentStorage/bin/Release/netcoreapp3.1
/NotaryOnline.DocumentStorage/obj/Debug/netcoreapp3.1
/NotaryOnline.DocumentStorage/obj
/NotaryOnline.Model/obj
/NotaryOnline.Service/obj
/.vs/NotaryOnline/config
/.vs
/NotaryOnline.Service/Properties
/NotaryOnline.Service/NotaryOnline.Services.csproj.user
/NotaryOnline.Web/obj
/NotaryOnline.Web/bin/Debug/net5.0
/SharedLib/bin/Debug/net5.0
/SharedLib/obj
/NotaryOnline.Service/bin/Debug/net5.0
/NotaryOnline.Entities/obj
/NotaryOnline.Service/bin/Debug/net6.0
/NotaryOnline.Api/bin/Debug/net6.0
/NotaryOnline.Api/obj
/NotaryOnline.DataAccess/obj
/NotaryOnline.Entities/bin/Debug/net5.0
/NotaryOnline.DataAccess/bin/Debug/net5.0
/NotaryOnline.Model/bin/Debug/net5.0
/NotaryOnline.DocumentStorage/bin/Debug/net5.0
/NotaryOnline.AppServices/obj
/NotaryOnline.AppServices/bin/Debug/net5.0
/NotaryOnline.Api.ServiceInterface/obj
/NotaryOnline.Api.ServiceInterface/bin/Debug/net6.0
/NotaryOnline.Api.ServiceModel/bin/Debug/net6.0
/NotaryOnline.Api.ServiceModel/obj
/NotaryOnline.DataAccess/bin/Debug/net6.0
/NotaryOnline.Entities/bin/Debug/net6.0
/NotaryOnline.Model/bin/Debug/net6.0
/NotaryOnline.Web/bin/Debug/net6.0
